DISCORD_TOKEN=<token>
DISCORD_CLIENT_ID=<bot client id>
DISCORD_GUILD_ID=<server id>

COMMANDS_DIR=./src/commands
DATA_DIR=/data
TIMEZONE=America/Phoenix
START_OF_WEEK=1 # 1 = Monday, 7 = Sunday
DEFAULT_PROJECT=katalyst
DEFAULT_REMINDER_MINUTES=120

# Maximum time allowed to be immediately logged at once (/log)
# Set to 0 to disallow immediately logging time. Set to -1 for no limit.
MAXIMUM_IMMEDIATE_TIME_SECONDS=36000
